.form {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:75vw;
    
}
.sessionYear {
    
    width:30%;
}
.session {
    width:30%;
}
.department {
    width:30%;
}




